@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'segoeBold';
  src: url('../../public//fonts//Segoe\ UI\ Bold.ttf');
}

@font-face {
  font-family: 'segoeNorm';
  src: url('../../public//fonts//Segoe\ UI.ttf');
}

body{
  background-color:#282c34;

.custom-table {
  border-collapse: separate;
}

.custom-table td {
  padding: 5px;

  /*  border: 2px solid rgba(0, 0, 0, 0.126);
  border-radius: 10px;
  border-collapse: separate; */
}
